<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qian.dao.UserMapper">
    <select id="getUserList" resultType="com.qian.pojo.User">
        select * from mabatis.user
    </select>
    <select id="getUserById" resultType="com.qian.pojo.User">
        select * from mabatis.user where id=#{id}
    </select>
    <select id="getUserById_Map"  parameterType="map" resultType="com.qian.pojo.User">
        select * from mabatis.user where id=#{userid} and name=#{username};
    </select>

    <insert id="addUser" parameterType="com.qian.pojo.User">
        insert into mabatis.user (id,name,pwd) values (#{id},#{name},#{pwd});
    </insert>

    <insert id="addUser_Map" parameterType="Map">
        insert into mabatis.user (id,name,pwd) values (#{userId},#{userName},#{userPwd});
    </insert>

    <update id="updateUser" parameterType="com.qian.pojo.User">
        update mabatis.user set name=#{name},pwd=#{pwd} where id =#{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mabatis.user where id= #{id};
    </delete>
</mapper>